@namespace NoBullshitTimer.Client.Pages

@page "/"

@using NoBullshitTimer.Client.Domain
@using NoBullshitTimer.Client.Components
@using NoBullshitTimer.Client.Framework
@implements IDisposable

@inject IJSRuntime JsRuntime


<PageTitle>Index</PageTitle>
<div class="dark:text-slate-100 p-12">
    <div class="max-lg:hidden pb-24 max-w-sm">
        <h1 class="text-2xl">NoBullshitTimer</h1>
        <p>An interval timer that just works</p>
        <p>no ads, no subscription, no annoying UI, no unnecessary features, every device, open source and simply: <b>no bullshit</b></p>
    </div>
    <div class="max-w-screen-sm mx-auto">
        <div class="flex flex-col items-center">
            <div class="pb-20">
                <div class="text-5xl text-center pb-4">
                    @_intervalTimer?.CurrentInterval.Name
                </div>
                @if (_intervalTimer?.NextInterval != null)
                {
                    <div class="text-2xl text-center">
                        Next: @_intervalTimer.NextInterval.Name
                    </div>
                }
            </div>

            <div class="pb-20">
                <div class="text-8xl text-center">@SecondsLeftFormatted()</div>
                @if (_intervalTimer?.CurrentInterval is Work or Rest)
                {
                    <div class="text-center">Exercise: @ExerciseProgress</div>
                    <div class="text-center">Set: @SetProgress</div>
                }
            </div>

            <div class="pb-20">
                <div class="text-center pb-5">@PauseInformation</div>
                <div class="flex flex-row gap-5">
                    <button class="border-2 p-2" @onclick="_ => _intervalTimer?.GoToPreviousInterval()"> Previous Interval</button>
                    <button class="border-2 p-2" @onclick="_ => _intervalTimer?.TogglePlayPause()">Play / Pause</button>
                    <button class="border-2 p-2" @onclick="_ => _intervalTimer?.GoToNextInterval()"> Next Interval </button>
                </div>
            </div>
        </div>
        <div>
            <h1 class="text-2xl pb-5">Edit</h1>
            <div class="flex justify-center">
                <div class="inline-grid grid-cols-[auto_auto_auto] gap-4">
                    <span class="flex items-center text-lg">Prepare Time</span>
                    <TextInput @bind-InputData="_prepareTimeInputRaw"/>
                    <span>(@PrepareTimeInput s)</span>

                    <span class="flex items-center text-lg">Work Time</span>
                    <TextInput @bind-InputData="_workTimeInputRaw"/>
                    <span>(@WorkTimeInput s)</span>

                    <span class="flex items-center text-lg">Rest Time</span>
                    <TextInput @bind-InputData="_restTimeInputRaw"/>
                    <span>(@RestTimeInput s)</span>

                    <span class="flex items-center text-lg">Cooldown Time</span>
                    <TextInput @bind-InputData="_cooldownTimeInputRaw"/>
                    <span>(@CooldownTimeInput s)</span>

                    <span class="flex items-center text-lg">Intervals</span>
                    <TextInput @bind-InputData="_nrOfIntervalsInputRaw"/>
                    <span>(@NrOfIntervalsInput s)</span>
                </div>
            </div>

            <h1 class="text-2xl py-5">Exercises</h1>
            <div class="grid grid-cols-[auto_1fr_1fr_minmax(100px,auto)] gap-4">
                @foreach (var exerciseInput in _exerciseInputsRaw)
                {
                    <button class="border-2 p-2 mr-2 col-span-1" @onclick="_ => AddExercise(exerciseInput)">Add Exercise</button>
                    <span class="col-span-1 flex items-center text-lg">Exercise</span>
                    <div class="col-span-1">
                        <TextInput @bind-InputData="exerciseInput.Name"></TextInput>
                    </div>
                    <div class="col-span-1">
                        @if (_exerciseInputsRaw.Count > 1)
                        {
                            <button class="border-2 p-2" @onclick="_ => DeleteExercise(exerciseInput)">Delete Exercise</button>
                        }
                    </div>
                }
            </div>
            <h1 class="text-2xl py-5">Apply Workout Plan</h1>
            <button class="border-2 p-2 my-2" @onclick="Apply">
                Apply
            </button>
        </div>
    </div>
</div>

@code {
    private IntervalTimer? _intervalTimer;
    private AudioPlayer? _audioPlayer;


    protected override async Task OnInitializedAsync()
    {
        Apply();
    }


    public void Dispose()
    {
        _intervalTimer?.Dispose();
    }

    private void Apply()
    {
        var workoutPlan = new WorkoutPlan(
            PrepareTimeInput,
            WorkTimeInput,
            RestTimeInput,
            CooldownTimeInput,
            NrOfIntervalsInput,
            ExerciseInputs
        );
        if (!Validate(workoutPlan))
        {
            // display warning
            return;
        }
        Dispose();
        _audioPlayer = new AudioPlayer(
            async fileName => await JsRuntime.InvokeVoidAsync("playSound", $"/audio/{fileName}")
        );
        _intervalTimer = new IntervalTimer(workoutPlan, OnTimerTick);
    }

    private void OnTimerTick()
    {
        _audioPlayer?.PlaySoundIfNecessary(_intervalTimer);
        InvokeAsync(StateHasChanged);
    }

    private bool Validate(WorkoutPlan workoutPlan)
    {
        return true;
    }

    public string SecondsLeftFormatted()
    {
        if (_intervalTimer == null) return "";
        return TimeSpan.FromSeconds(_intervalTimer.SecondsLeft).ToString("mm\\:ss");
    }

    public string SetProgress
    {
        get
        {
            if (_intervalTimer == null) return "";
            var intervalsPerExercise = _intervalTimer.WorkoutPlan.setsPerExercise * 2;
            var intervalInExercise = (_intervalTimer.CurrentIntervalNr - 2) % intervalsPerExercise;
            intervalInExercise = intervalInExercise == 0 ? intervalsPerExercise : intervalInExercise;
            intervalInExercise = (intervalInExercise + 1) / 2;
            return $"{(intervalInExercise)} / {_intervalTimer.WorkoutPlan.setsPerExercise}";
        }
    }

    public string ExerciseProgress
    {
        get
        {
            if (_intervalTimer == null) return "";
            var intervalsPerExercise = _intervalTimer.WorkoutPlan.setsPerExercise * 2;
            var intervalInWorkout = (_intervalTimer.CurrentIntervalNr - 2);
            var exercisesPerWorkout = _intervalTimer.WorkoutPlan.exercises.Count;
            var exerciseInWorkout = (intervalInWorkout + intervalsPerExercise - 1) / intervalsPerExercise;
            return $"{exerciseInWorkout} / {exercisesPerWorkout}";
        }
    }


    public string PauseInformation
    {
        get
        {
            if (_intervalTimer == null) return "";
            return _intervalTimer.TimerPaused ? "Timer Paused" : "Timer Running";
        }
    }


    private int PrepareTimeInput => ParseTimeToSeconds(_prepareTimeInputRaw, 10);
    private int WorkTimeInput => ParseTimeToSeconds(_workTimeInputRaw, 40);
    private int RestTimeInput => ParseTimeToSeconds(_restTimeInputRaw, 20);
    private int CooldownTimeInput => ParseTimeToSeconds(_cooldownTimeInputRaw, 60);

    private int NrOfIntervalsInput
    {
        get
        {
            if (int.TryParse(_nrOfIntervalsInputRaw, out var nrOfIntervals))
                return nrOfIntervals;
            return 3;
        }
    }

    private string
        _prepareTimeInputRaw = "00:10",
        _workTimeInputRaw = "00:40",
        _restTimeInputRaw = "00:20",
        _cooldownTimeInputRaw = "01:00",
        _nrOfIntervalsInputRaw = "3";

    class ExerciseInput
    {
        public ExerciseInput(string name)
        {
            Name = name;
        }

        public string Name { get; set; }
        public Guid Id { get; } = new();
    }


    private List<ExerciseInput> _exerciseInputsRaw = [new ExerciseInput ("Exercise 1")];

    private List<string> ExerciseInputs => _exerciseInputsRaw
        .Select(exerciseInput => exerciseInput.Name)
        .ToList();

    private void DeleteExercise(ExerciseInput exerciseInput)
    {
        _exerciseInputsRaw.Remove(exerciseInput);
        Console.WriteLine(_exerciseInputsRaw);
    }

    private void AddExercise(ExerciseInput exerciseInput)
    {
        var insertIndex = _exerciseInputsRaw.IndexOf(exerciseInput) + 1;
        _exerciseInputsRaw.Insert(insertIndex, new ExerciseInput ($"Exercise {insertIndex + 1}"));
        Console.WriteLine(_exerciseInputsRaw);
    }


    private int ParseTimeToSeconds(string time, int defaultValue)
    {
        var parts = time.Split(':');
        if (parts.Length != 2)
            return defaultValue;

        if (int.TryParse(parts[0], out var minutes) && int.TryParse(parts[1], out var seconds))
            return minutes * 60 + seconds;

        return defaultValue;
    }


}
